version: '3.1'

services:
  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - TZ=UTC
    ports:
      - ${DB_PORT}:3306

  backup:
    depends_on:
      - db
    image: deitch/mysql-backup
    restart: always
    user: "0"
    volumes:
     - ./db_backup:/db
    environment:
     - DB_DUMP_TARGET=/db
     - DB_USER=root
     - DB_PASS=${DB_PASSWORD}
     - DB_DUMP_FREQ=1440
     - DB_DUMP_BEGIN=2330
     - DB_SERVER=db

  tomcat:
    depends_on: 
      - db
    image: tomcat:9.0.115-jre8-temurin
    restart: always
    command: bash -c "apt-get update && apt-get install -y fonts-dejavu && rm -rf /var/lib/apt/lists/* && catalina.sh run"
    volumes:
      - ./apps:/usr/local/tomcat/webapps/
      - tomcat_test_result_attachments:/usr/local/tomcat/project
      - tomcat_audit_attachments:/usr/local/tomcat/audits
    links:
      - db:database
    ports:
      - ${TOMCAT_PORT}:8080

  update:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        BRANCH: ${BRANCH:-master}
        DB_USER: root
        DB_PASS: ${DB_PASSWORD}
    environment:
        BRANCH: ${BRANCH:-master}
        DB_USER: root
        DB_PASS: ${DB_PASSWORD}
    volumes: 
      - ./apps:/app/webapps
    depends_on:
      - tomcat

volumes:
  tomcat_test_result_attachments:
  tomcat_audit_attachments:
